<f:layout name="{f:if(condition: '{settings.useTypoFluidMail}', then: 'SystemEmail', else: 'Email')}" />

<f:section name="Title">New files have been uploaded!</f:section>

<f:section name="Main">
    <f:if condition="{message}">
        <p>
            {message -> f:format.nl2br()}
        </p>
				<br>
    </f:if>

    <strong>Uploaded files:</strong>
    <br>
    <ul>
        <f:for each="{files}" as="file">
            <li>
                <a href="{domain}{file}" target="_blank">{domain}{file}</a>
            </li>
        </f:for>
    </ul>
</f:section>
